@model Training_Managment_System.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h2>Edit User</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" style="width:500px;" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" style="width:500px;" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" class="form-control" style="width:150px;">
            <option>Admin</option>
            <option>Instructor</option>
            <option>Trainee</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
